@charset "UTF-8";

/*СLEAN-CSS*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.animated {
  opacity: 0;
}

.animated.anim-active {
  -webkit-animation: moveUp 0.5s ease-in-out forwards;
          animation: moveUp 0.5s ease-in-out forwards;
}

.animated.anim-active--with-delay-200 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animated.anim-active--with-delay-400 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animated.anim-active--with-delay-600 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.animated.anim-active--with-delay-800 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes moveUp {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.adaptive-menu {
  display: none;
}

.adaptive-menu-active {
  display: none;
}

.visually-hidden {
  display: none;
  opacity: 0;
  z-index: -99;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 10px rgba(66, 66, 66, 0.1);
          box-shadow: 0px 5px 10px rgba(66, 66, 66, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  z-index: 100;
  -webkit-transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}

.adaptive-header {
  width: 100vw !important;
  height: 40vh !important;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px;
}

.header-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-nav-el:not(:last-child) {
  margin-right: 50px;
}

.header-nav-el::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  right: 100%;
  display: block;
  height: 1px;
  background: #424242;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-nav-el:hover::after,
.header-nav-el:focus::after {
  right: 0;
}

.header-nav-el a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #424242;
}

.home {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 100px 0;
  background: -o-linear-gradient(349.51deg, #2D615A -33.32%, #0D0C36 111.53%);
  background: linear-gradient(100.49deg, #2D615A -33.32%, #0D0C36 111.53%);
}

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-text {
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-text div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-text div h1 {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
}

.home-text div h1:not(:last-child) {
  margin-right: 10px;
}

.home-text div h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #FFF;
  -webkit-text-stroke: 0px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.home-text h6 {
  font-weight: 500;
  text-align: center;
}

.home-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-buttons .button {
  width: 325px;
  height: 70px;
}

.home-buttons .button:first-child {
  margin-right: 50px;
}

.home-buttons .button .bx {
  font-size: 20px;
  margin-left: 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 75px;
}

.about-content {
  width: 100%;
  background: #FFF;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
  position: relative;
}

.about-text {
  width: 50%;
  height: 100%;
}

.about-text h2 {
  text-align: left;
  color: #424242;
  margin-bottom: 30px;
}

.about-text h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px rgba(42, 42, 42, 0.5);
}

.about-text h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid #424242;
  width: 0%;
  height: 100%;
  color: #424242;
  -webkit-text-stroke: 0px rgba(42, 42, 42, 0.5);
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.about-text p {
  text-align: left;
  color: #424242;
}

.about-text p:not(:last-child) {
  margin-bottom: 20px;
}

.about-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  background-image: url(../img/about.jpg);
  background-size: cover;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-content h2 {
  margin: 0 auto 0 auto;
  color: #424242;
  margin-bottom: 20px;
}

.skills-content h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px rgba(42, 42, 42, 0.5);
}

.skills-content h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid #424242;
  width: 0%;
  height: 100%;
  color: #424242;
  -webkit-text-stroke: 0px rgba(42, 42, 42, 0.5);
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.skills-content p {
  color: #424242;
  text-align: center;
}

.skills-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill {
  padding: 20px 0;
  margin: 20px;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.skill:hover {
  -webkit-box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
}

.skill-icon {
  color: #424242;
  font-size: 72px;
  text-align: center;
  margin-bottom: 20px;
}

.skill h4 {
  color: #424242;
  font-weight: 900;
  text-align: center;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-content h2 {
  margin: 0 auto 0 auto;
  color: #424242;
  margin-bottom: 20px;
}

.portfolio-content h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px rgba(42, 42, 42, 0.5);
}

.portfolio-content h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid #424242;
  width: 0%;
  height: 100%;
  color: #424242;
  -webkit-text-stroke: 0px rgba(42, 42, 42, 0.5);
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.portfolio-content p {
  color: #424242;
  text-align: center;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  padding: 35px 25px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
  margin: 20px;
  max-width: 370px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.project:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.project:hover .project-hover {
  opacity: 1;
}

.project-hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 42, 42, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.project-hover a {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
}

.project h5 {
  color: #424242;
  margin-bottom: 10px;
}

.project p.type {
  color: rgba(42, 42, 42, 0.5);
  font-size: 18px;
  margin-bottom: 15px;
}

.project img {
  width: 90%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-content h2 {
  margin: 0 auto 0 auto;
  color: #424242;
  margin-bottom: 20px;
}

.contact-content h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px rgba(42, 42, 42, 0.5);
}

.contact-content h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  border-right: 3px solid #424242;
  width: 0%;
  height: 100%;
  color: #424242;
  -webkit-text-stroke: 0px rgba(42, 42, 42, 0.5);
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.contact-content p {
  color: #424242;
  text-align: center;
}

.contact-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.contact-buttons a {
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 75px;
  padding: 10px 20px;
  background: #424242;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFF;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact-buttons a:hover,
.contact-buttons a:focus {
  background: none;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
          box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);
  color: #424242;
  letter-spacing: 2px;
}

.contact-buttons a i.bx {
  font-size: 32px;
  margin-right: 5px;
}

.contact-el i {
  font-size: 52px;
  color: #FFF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #424242;
  letter-spacing: 1px;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #FFF;
}

h1 {
  font-size: 62px;
  line-height: 100px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 36px;
  font-weight: 700;
}

h5 {
  font-size: 32px;
  font-weight: 700;
}

h6 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #FFF;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  background: none;
  border: 1px solid #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFF;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button:hover,
.button:focus {
  background: #FFF;
  color: #424242;
  font-weight: 500;
  letter-spacing: 2px;
}

.filled {
  background: #FFF;
  border: 1px solid #424242;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}

@-webkit-keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }

  30%, 50%, 70%, 90% {
    width: 100%;
  }
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }

  30%, 50%, 70%, 90% {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 60px;
  }

  .header-nav-el a {
    font-size: 16px;
  }

  .home {
    padding: 75px 0;
    margin-top: 60px;
  }

  .home-text {
    margin-bottom: 50px;
  }

  .home-text div {
    margin-bottom: 15px;
  }

  .home-buttons .button {
    width: 275px;
    height: 60px;
  }

  .about {
    margin-top: 50px;
  }

  .about-text h2 {
    margin-bottom: 20px;
  }

  .skills {
    margin-top: 50px;
  }

  .skills-list {
    margin-top: 25px;
  }

  .skill {
    min-width: 225px;
  }

  .skill-icon {
    font-size: 62px;
    margin-bottom: 15px;
  }

  .portfolio {
    margin-top: 50px;
  }

  .projects-list {
    margin-top: 25px;
  }

  .project {
    padding: 30px 20px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(66, 66, 66, 0.1);
            box-shadow: 0px 0px 10px 10px rgba(66, 66, 66, 0.1);
  }

  .project-hover a {
    font-size: 26px;
  }

  .project p.type {
    font-size: 16px;
  }

  .project img {
    width: 75%;
  }

  .contact {
    margin-top: 50px;
  }

  .contact-buttons {
    margin-top: 25px;
  }

  .contact-buttons a {
    min-height: 60px;
    padding: 10px 15px;
    font-size: 18px;
  }

  .contact-buttons a i.bx {
    font-size: 28px;
    margin-right: 5px;
  }

  .container {
    max-width: 1024px;
  }

  h1 {
    font-size: 52px;
    line-height: 75px;
  }

  h2 {
    font-size: 42px;
  }

  h4 {
    font-size: 32px;
  }

  h6 {
    font-size: 22px;
    line-height: 30px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }

  .button {
    font-size: 18px;
  }
}

@media screen and (max-width: 876px) {
  .home-text {
    margin-bottom: 35px;
  }

  .about-content {
    -webkit-box-shadow: 0px 0px 10px 10px rgba(66, 66, 66, 0.1);
            box-shadow: 0px 0px 10px 10px rgba(66, 66, 66, 0.1);
  }

  .about-content {
    padding: 35px;
  }

  .about-text h2 {
    margin-bottom: 15px;
  }

  .skills-list {
    margin-top: 20px;
  }

  .skill {
    padding: 15px 0;
    margin: 15px;
    min-width: 210px;
  }

  .skill-icon {
    font-size: 56px;
    margin-bottom: 15px;
  }

  .portfolio {
    margin-top: 35px;
  }

  .projects-list {
    margin-top: 20px;
  }

  .project {
    max-width: 275px;
  }

  .contact {
    margin-top: 35px;
  }

  .contact-buttons {
    margin-top: 20px;
  }

  .contact-buttons a {
    margin: 10px 15px;
    min-height: 60px;
    font-size: 16px;
  }

  .contact-buttons a i.bx {
    font-size: 22px;
    margin-right: 5px;
  }

  .container {
    max-width: 876px;
  }

  h1 {
    font-size: 42px;
    line-height: 60px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  .button {
    font-size: 16px;
  }
}

@media screen and (max-width: 672px) {
  .adaptive-menu {
    display: unset;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }

  .adaptive-menu .bx-menu {
    font-size: 32px;
    color: #424242;
  }

  .adaptive-menu-active {
    display: unset;
    position: absolute;
    top: 15px;
    right: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .adaptive-menu-active .bx-plus {
    font-size: 42px;
    color: #424242;
  }

  .header {
    width: 75px;
    height: 75px;
    padding: 0;
    left: unset;
    right: 0;
    border-bottom-left-radius: 50%;
  }

  .header-nav {
    display: none;
  }

  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-nav-el:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .home {
    margin-top: 0;
  }

  .home-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .home-buttons .button:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 20px;
    position: static;
  }

  .about-text {
    width: 100%;
    height: 50%;
  }

  .about-text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .about-img {
    -webkit-clip-path: none;
            clip-path: none;
    position: static;
    top: unset;
    right: unset;
    width: 100%;
    height: 250px;
    margin-top: 25px;
  }

  .skill {
    min-width: 150px;
    margin: 10px;
  }

  .contact-buttons {
    margin-top: 15px;
  }

  .contact-buttons a {
    margin: 5px 10px;
    min-height: 50px;
    padding: 5px 15px;
    font-size: 14px;
  }

  .container {
    max-width: unset;
    padding: 0 10px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 18px;
    line-height: 28px;
  }

  p {
    font-size: 14px;
  }

  .button {
    padding: 5px 15px;
  }
}
@supports (-webkit-appearance:none){
.about-img{background-image:url(../img/about.webp)}
}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 876px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 672px){

@supports (-webkit-appearance:none){

}

}
