@import 'variables';

.about {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.about-content {
    width: 100%;
    background: $white;
    
    padding: 50px;

    box-shadow: 0px 0px 15px 10px rgba(66, 66, 66, 0.1);

    position: relative;
}

.about-text {
    width: 50%;
    height: 100%;
}

.about-text h2 {
    text-align: left;
    color: $black;
    margin-bottom: 30px;
}

.about-text h2 {
    width:fit-content;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px $blackDarken;

    &::before {
        content: attr(data-text);

        position: absolute;
        top: 0;
        left: 0;

        border-right: 3px solid $black;

        width: 0%;
        height: 100%;

        color: $black;
        -webkit-text-stroke: 0px $blackDarken;

        overflow: hidden;

        transition: 0.3s;

        animation: animate 7s linear infinite;
    }
}

.about-text p {
    text-align: left;
    color: $black;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.about-img  {
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 100%;

    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    background-image: url(../img/about.jpg);
    background-size: cover;
}