@import 'clean-css';
@import 'variables';
@import 'animated';

@import 'header';
@import 'home';
@import 'about';
@import 'skills';
@import 'portfolio';
@import 'contact';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: $black;
    letter-spacing: 1px;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;

    @media screen and (max-width: 1024px) {
        max-width: 1024px;
    }

    @media screen and (max-width: 876px) {
        max-width: 876px;
    }

    @media screen and (max-width: 672px) {
        max-width: unset;
        padding: 0 10px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: $white;
}

h1 {
    font-size: 44px;
    line-height: 1.3em;

    @media screen and (max-width: 1024px) {
        font-size: 52px;
        line-height: 75px;
    }

    @media screen and (max-width: 876px) {
        font-size: 42px;
        line-height: 60px;
    }

    @media screen and (max-width: 672px) {
        font-size: 38px;
    }
}

h2 {
    font-size: 52px;
    line-height: 1.1em;

    @media screen and (max-width: 1024px) {
        font-size: 42px;
    }

    @media screen and (max-width: 876px) {
        font-size: 36px;
    }

    @media screen and (max-width: 672px) {
        font-size: 32px;
    }
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 36px;
    font-weight: 700;

    @media screen and (max-width: 1024px) {
        font-size: 32px;
    }

    @media screen and (max-width: 876px) {
        font-size: 26px;
    }

    @media screen and (max-width: 672px) {
        font-size: 22px;
    }
}

h5 {
    font-size: 32px;
    font-weight: 700;

    @media screen and (max-width: 876px) {
        font-size: 24px;
    }

    @media screen and (max-width: 672px) {
        font-size: 22px;
    }
}

h6 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5em;

    @media screen and (max-width: 1024px) {
        font-size: 22px;
        line-height: 30px;
    }

    @media screen and (max-width: 672px) {
        font-size: 18px;
        line-height: 28px;
    }

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: $white;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
        line-height: 25px;
    }

    @media screen and (max-width: 876px) {
        font-size: 16px;
    }

    @media screen and (max-width: 672px) {
        font-size: 14px;
    }
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;

    background: none;
    border: 1px solid $white;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: $white;

    transition: 0.3s ease;

    &:hover,
    &:focus {
        background: $white;
        color: $black;
        font-weight: 500;
        letter-spacing: 2px;
    }

    @media screen and (max-width: 1024px) {
        font-size: 18px;
    }

    @media screen and (max-width: 876px) {
        font-size: 16px;
    }

    @media screen and (max-width: 672px) {
        padding: 5px 15px;
    }
}

.filled {
    background: $white;
    border: 1px solid $black;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $black;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }

    30%, 50%, 70%, 90% {
        width: 100%;
    }
}