@import 'clean-css';
@import 'variables';
@import 'animated';

@import 'header';
@import 'home';
@import 'about';
@import 'skills';
@import 'portfolio';
@import 'contact';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: $black;
    letter-spacing: 1px;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: $white;
}

h1 {
    font-size: 62px;
    line-height: 100px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 36px;
    font-weight: 700;
}

h5 {
    font-size: 32px;
    font-weight: 700;
}

h6 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: $white;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;

    background: none;
    border: 1px solid $white;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: $white;

    transition: 0.3s ease;

    &:hover,
    &:focus {
        background: $white;
        color: $black;
        font-weight: 500;
        letter-spacing: 2px;
    }
}

.filled {
    background: $white;
    border: 1px solid $black;

    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: $black;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }

    30%, 50%, 70%, 90% {
        width: 100%;
    }
}