$white: #FFF;
$whiteDarken: rgb(255, 255, 255, 0.5);

$black: #424242;
$blackDarken: rgb(42, 42, 42, 0.5);

$green: rgb(5, 153, 48);
$greenDarken: rgba(5, 153, 47, 0.5);

$blueGradient: linear-gradient(100.49deg,#77359e -33.32%,#0b6c8f 111.53%);